{% extends "base.html" %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <link
      type="text/css"
      href="{% static 'photos/css/styles.css' %}"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Политика конфиденциальности</title>
  </head>
  <body>
    <div style="max-width: 1000px; margin: 0 auto; padding: 20px">
      <h1>Политика конфиденциальности</h1>
      <p>от 01.11.2023 г.</p>
      <p>
        <b>1. Общие положения</b>
      </p>
      <p>
        1.1. Настоящая Политика в отношении обработки персональных данных (далее
        - Политика) составлена в соответствии с пунктом 2 статьи 18.1
        Федерального закона «О персональных данных» № 152-ФЗ от 27 июля 2006 г.,
        а также иными нормативно-правовыми актами Российской Федерации в области
        защиты и обработки персональных данных и действует в отношении всех
        персональных данных (далее - Данные), которые Администрация сайта
        "Новороссфотос" (расположенный на доменном имени
        https://novorossphotos.store и его субдоменах), (далее - Оператор) может получить от субъекта
        персональных данных, являющегося стороной по гражданско-правовому
        договору.
      </p>
      <p>
        1.2. Оператор обеспечивает защиту обрабатываемых персональных данных от
        несанкционированного доступа и разглашения, неправомерного использования
        или утраты в соответствии с требованиями Федерального закона от 27 июля
        2006 г. № 152-ФЗ «О персональных данных».
      </p>
      <p>1.3. Изменение Политики</p>
      <p>
        1.3.1. Оператор имеет право вносить изменения в настоящую Политику. При
        внесении изменений в заголовке Политики указывается дата последнего
        обновления редакции. Новая редакция Политики вступает в силу с момента
        ее размещения на сайте, если иное не предусмотрено новой редакцией
        Политики.
      </p>
      <p>
        <b>2. Термины и принятые сокращения</b>
      </p>
      <p>
        Персональные данные (ПД) - любая информация, относящаяся к прямо или
        косвенно определенному или определяемому физическому лицу (субъекту
        персональных данных).
      </p>
      <p>
        Обработка персональных данных - любое действие (операция) или
        совокупность действий (операций), совершаемых с использованием средств
        автоматизации или без использования таких средств с персональными
        данными, включая сбор, запись, систематизацию, накопление, хранение,
        уточнение (обновление, изменение), извлечение, использование, передачу
        (распространение, предоставление, доступ), обезличивание, блокирование,
        удаление, уничтожение персональных данных.
      </p>

      <p>
        Автоматизированная обработка персональных данных - обработка
        персональных данных с помощью средств вычислительной техники.
      </p>
      <p>
        Информационная система персональных данных (ИСПД) - совокупность
        содержащихся в базах данных персональных данных и обеспечивающих их
        обработку информационных технологий и технических средств.
      </p>
      <p>
        Персональные данные, сделанные общедоступными субъектом персональных
        данных, -ПД, доступ неограниченного круга лиц к которым предоставлен
        субъектом персональных данных либо по его просьбе.
      </p>
      <p>
        Блокирование персональных данных - временное прекращение обработки
        персональных данных (за исключением случаев, если обработка необходима
        для уточнения персональных данных).
      </p>
      <p>
        Уничтожение персональных данных - действия, в результате которых
        становится невозможным восстановить содержание персональных данных в
        информационной системе персональных данных и (или) в результате которых
        уничтожаются материальные носители персональных данных.
      </p>
      <p>
        Оператор — организация, самостоятельно или совместно с другими лицами
        организующая обработку персональных данных, а также определяющая цели
        обработки персональных данных, подлежащих обработке, действия
        (операции), совершаемые с персональными данными.
      </p>
      <p>
        «Cookies» — небольшой фрагмент данных, отправленный веб-сервером и
        хранимый на компьютере пользователя, который веб-клиент или веб-браузер
        каждый раз пересылает веб-серверу в HTTP-запросе при попытке открыть
        страницу Сайта.
      </p>
      <p>
        <b>3. Обработка персональных данных</b>
      </p>
      <p>3.1. Получение ПД.</p>
      <p>
        3.1.1. Все ПД следует получать от самого субъекта. Если ПД субъекта
        можно получить только у третьей стороны, то субъект должен быть
        уведомлен об этом или от него должно быть получено согласие.
      </p>
      <p>
        3.1.2. Оператор должен сообщить субъекту о целях, предполагаемых
        источниках и способах получения ПД, характере подлежащих получению ПД,
        перечне действий с ПД, сроке, в течение которого действует согласие, и
        порядке его отзыва, а также о последствиях отказа субъекта дать
        письменное согласие на их получение.
      </p>
      <p>
        3.1.3. Оператор получает ПД в результате внесения сведений в учетные
        формы.
      </p>
      <p>
        3.1.4. При авторизации пользователя происходит сохранение хэша в cookies
        клиентского браузера с целью запоминания ранее произведенной
        авторизации. Отключение cookies может повлечь невозможность доступа к
        частям Сайта, требующим авторизации.
      </p>
      <p>3.2. Обработка ПД.</p>
      <p>3.2.1. Обработка персональных данных осуществляется:</p>
      <p>
        - с согласия субъекта персональных данных на обработку его персональных
        данных;
      </p>
      <p>
        - в случаях, когда обработка персональных данных необходима для
        осуществления и выполнения возложенных законодательством РФ функций,
        полномочий и обязанностей;
      </p>
      <p>
        - в случаях, когда осуществляется обработка персональных данных, доступ
        неограниченного круга лиц к которым предоставлен субъектом персональных
        данных либо по его просьбе (далее - персональные данные, сделанные
        общедоступными субъектом персональных данных).
      </p>
      <p>3.2.2. Цели обработки персональных данных:</p>
      <p>- осуществление гражданско-правовых отношений.</p>
      <p>
        3.2.3. Категории субъектов персональных данных. Обрабатываются ПД
        следующих субъектов ПД:
      </p>
      <p>
        - физические лица, состоящие с Оператором в гражданско-правовых
        отношениях.
      </p>
      <p>3.2.4. ПД, обрабатываемые Оператором:</p>
      <p>
        - данные, полученные при осуществлении гражданско-правовых отношений.
      </p>
      <p>3.2.5. Обработка персональных данных ведется:</p>
      <p>- с использованием средств автоматизации.</p>
      <p>3.3. Хранение ПД.</p>
      <p>
        3.3.1. ПД субъектов могут быть получены, проходить дальнейшую обработку
        и передаваться на хранение в электронном виде.
      </p>
      <p>
        3.3.2. ПД субъектов, обрабатываемые с использованием средств
        автоматизации в разных целях, хранятся в электронном виде в базе данных
        персональных данных
      </p>
      <p>
        3.3.3. Не допускается хранение и размещение документов, содержащих ПД, в
        открытых электронных каталогах (файлообменниках) в ИСПД.
      </p>
      <p>
        3.3.4. Хранение ПД в форме, позволяющей определить субъекта ПД,
        осуществляется не дольше, чем этого требуют цели их обработки, и они
        подлежат уничтожению по достижении целей обработки или в случае утраты
        необходимости в их достижении.
      </p>
      <p>3.4. Уничтожение ПД.</p>
      <p>
        3.4.1. ПД на электронных носителях уничтожаются путем стирания или
        форматирования носителя.
      </p>
      <p>
        <b>3.5. Передача ПД.</b>
      </p>
      <p>3.5.1. Оператор передает ПД третьим лицам в следующих случаях:</p>
      <p>- субъект выразил свое согласие на такие действия;</p>
      <p>
        - передача предусмотрена российским или иным применимым
        законодательством в рамках установленной законодательством процедуры.
      </p>
      <p>3.5.2. Перечень лиц, которым передаются ПД.</p>
      <p>Третьи лица, которым передаются ПД:</p>
      <p>
        - административные и педагогические работники общеобразовательных
        учреждений;
      </p>
      <p>- партнеры Оператора.</p>
      <p>
        <b>4. Защита персональных данных</b>
      </p>
      <p>
        4.1. Основными мерами защиты ПД, используемыми Оператором, являются:
      </p>
      <p>
        4.1.1. Назначение лица, ответственного за обработку ПД, которое
        осуществляет организацию обработки ПД, внутренний контроль за
        соблюдением учреждением и его работниками требований к защите ПД.
      </p>
      <p>
        4.1.2. Определение актуальных угроз безопасности ПД при их обработке в
        ИСПД и разработка мер и мероприятий по защите ПД.
      </p>
      <p>
        4.1.3. Разработка политики в отношении обработки персональных данных.
      </p>
      <p>
        4.1.4. Установление индивидуальных паролей доступа сотрудников в
        информационную систему в соответствии с их производственными
        обязанностями.
      </p>
      <p>
        4.1.5. Соблюдение условий, обеспечивающих сохранность ПД и исключающих
        несанкционированный к ним доступ.
      </p>
      <p>
        4.1.6. Обнаружение фактов несанкционированного доступа к персональным
        данным и принятие мер.
      </p>
      <p>
        4.1.7. Восстановление ПД, модифицированных или уничтоженных вследствие
        несанкционированного доступа к ним.
      </p>
      <p>
        4.1.8. Ознакомление работников Оператора, непосредственно осуществляющих
        обработку персональных данных, положениям законодательства РФ о
        персональных данных, в том числе требованиям к защите персональных
        данных, документам, определяющим политику Оператора в отношении
        обработки персональных данных, локальным актам по вопросам обработки
        персональных данных.
      </p>
      <p>4.1.9. Осуществление внутреннего контроля.</p>
      <p>
        <b>5. Основные права субъекта ПД и обязанности Оператора</b>
      </p>
      <p>
        5.1. Основные права субъекта ПД. Субъект имеет право на доступ к его
        персональным данным и следующим сведениям:
      </p>
      <p>- подтверждение факта обработки ПД Оператором;</p>
      <p>- правовые основания и цели обработки ПД;</p>
      <p>- цели и применяемые Оператором способы обработки ПД;</p>
      <p>
        - сведения о лицах (за исключением работников Оператора), которые имеют
        доступ к ПД или которым могут быть раскрыты ПД на основании договора с
        Оператором или на основании федерального закона;
      </p>
      <p>
        - сроки обработки персональных данных, в том числе сроки их хранения;
      </p>
      <p>
        - порядок осуществления субъектом ПД прав, предусмотренных настоящим
        Федеральным законом;
      </p>
      <p>- обращение к Оператору и направление ему запросов;</p>
      <p>- обжалование действий или бездействия Оператора.</p>
      <p>5.2. Обязанности Оператора.</p>
      <p>Оператор обязан:</p>
      <p>- при сборе ПД предоставить информацию об обработке ПД;</p>
      <p>
        - при отказе в предоставлении ПД субъекту разъясняются последствия
        такого отказа;
      </p>
      <p>
        - опубликовать или иным образом обеспечить неограниченный доступ к
        документу, определяющему его политику в отношении обработки ПД, к
        сведениям о реализуемых требованиях к защите ПД;
      </p>
      <p>
        - принимать необходимые правовые, организационные и технические меры или
        обеспечивать их принятие для защиты ПД от неправомерного или случайного
        доступа к ним, уничтожения, изменения, блокирования, копирования,
        предоставления, распространения ПД, а также от иных неправомерных
        действий в отношении ПД;
      </p>
      <p>
        - давать ответы на запросы и обращения субъектов ПД, их представителей и
        уполномоченного органа по защите прав субъектов ПД.
      </p>
    </div>
  </body>
</html>
{% endblock %}
